<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LogBook</title>
  <link rel="stylesheet" href="styles.css">
  <!-- <script type="module" src="/index.mjs" defer></script> -->
</head>
<bod class="main-body">

  {{{body}}}

  <footer>
  <div>
    <p>&copy; 2024 Your Company | All Rights Reserved</p>
  </div>
</footer>

</body>
</html>