<section class="password-reset-section">

  {{!-- <h2 id="appname-reset-page" ><a href="/home">LogBook</a></h2> --}}
  <div class="container" id="reset-container">

    <div class="container" id="inner-reset-container">

      <div id="reset-div-info">

        <form>
          <input type="text" id="reset-email" name="email" autocomplete="email" placeholder="Email or phone number">

          <input type="button" id="reset-cancel" value="cancel" onclick="openPage()">

          <input type="submit" value="submit" id="reset-submit" >
        </form>
        
      </div>
     
    </div>
  </div>
<script>

function openPage() {
    // Replace 'desired-page.html' with the actual URL of the page you want to open
    window.location.href = '/home';
  }
</script>
 

</section>