<section class="password-reset-section">

  <div class="container" id="reset-container">

    <div class="container" id="inner-reset-container">

      <div id="reset-div-info">
        <form>
          <label for="username">Enter your email address</label> 
          <input type="text" id="reset-email" name="email" placeholder="Email or phone number">
          <input type="submit" value="submit" id="reset-submit">
        </form>
      </div>
     
    </div>
  </div>


</section>