<section class="password-reset-section">

  {{!-- <h2 id="appname-reset-page" ><a href="/home">LogBook</a></h2> --}}
  <div class="container" id="reset-container">

    <div class="container" id="inner-reset-container">

      <div id="reset-div-info">

        <form id="reset-form">
          <input type="text" id="reset-email" name="email" autocomplete="email" placeholder="Email, Phone, or Username" onmouseover="hover()">
           <input type="submit" value="Send code" id="reset-submit" >
          <input type="button" id="reset-cancel" value="Back to login" onclick="openPage()">
        </form>
        
      </div>
     
    </div>
  </div>
  
<script>

  function openPage() {
      // Replace 'desired-page.html' with the actual URL of the page you want to open
      window.location.href = '/';
  }

  function hover() {
    document.getElementById('reset-email').addEventListener('mouseover', function() {
      this.style.backgroundColor = 'white';
    });

  }

</script>
 

</section>