<div>
  <section class="home-section">

    <div class="container" id="login-container">
      <div class="container" id="appName-Container">
        <div id="appname" style="color: green" onclick="backToHomePage()">LogBook</div>
      </div>

      <div class="container" id="inner-container">
        <div >
            <div id="home-statement"><h1 draggable="true">Log everything loggable, life get's easier</h1></div>
        </div>

        <div class"container=" id="login-container-two"> 
          <div id="info-div">
            <form action="/process-login" method="POST">
              <input type="text" id="username" name="email" placeholder="Email or phone number" autocomplete="email" required>
              <input type="password" id="password" name="password" placeholder="Password" autocomplete="current-password" required>
              <input type="submit" value="Log in" id="log-in">
              <hr />

              <div >
                <p id="forgot-password"><a href="/forgot-password">Forgot password?</a></p>
                <p id="sign-up" ><a href="/sign-up">Sign up</a></p>
              </div>
            </form>
          </div>
        </div>  

      </div>
  </div>

    <script>

    function backToHomePage() {
        // Replace 'desired-page.html' with the actual URL of the page you want to open
        window.location.href = '/home';
      }
    </script>

  </section>

</div>
