<section class="home-section">

  <div id="appname" style="color: green">LogBook</div>

  <div class="container" id="login-container">

    <div class="container" id="inner-container">

      <div >
          <div id="home-statement"><h1 draggable="true">Log everything loggable, life get's easier</h1></div>
      </div>

      <div class"container=" id="login-container"> 
        <div id="info-div">
          <form>
            {{!-- <label for="username">Username:</label> --}}
            <input type="text" id="username" name="username" placeholder="Email or phone number">

            {{!-- <label for="password">Password:</label> --}}
            <input type="password" id="password" name="password" placeholder="Password">

            <input type="submit" value="Log in" id="submit">
            <hr />
            <p id="forgot-password"><a href="/forgot-password">Forgot password?</a></p>
          </form>
        </div>
      </div>

    </div>
  </div>



</section>