<div class="log-main">
  <div class="log-div-title">

     <h4> Hello every one</h4>
    <div>
      <div class="div-01">
         <h5> date </h5>
      </div>
      <div class="div-01">
         <h5> Amount </h5>
      </div>
      <div class="div-01">
         <h5> logType </h5>
      </div>
    </div>
  </div>

 

  <div class="log-div-history">
      <hr>
      <h4> Hello every one</h4>
        {{#each logs}}
            <div>
              <h3 style="color:green">{{this.date}}   |   {{this.time}}   |   {{this.amount}}   |   {{this.logType}}</h3>
            </div>
        {{/each}}
  </div>
</div>