<div class="out-div">
  
  <h2 style="text-align: center;">Welcome {name}!</h4>

  <div class="main-div">
    <section class="left-inner-home" id="main-section-home">
      
    </section>

    <section class="middle-inner-home">

       <section class="side-section-profile">

       </section>

    </section>

    <section class="right-inner-home">
      <div class="frame" >
        <div class="Picture div">
        <div class="picture-frame">
          <img src="/img/dog.jpg" alt="dog image">
        </div>
      </div>
        <h2> Profile picture </h2>
       
      </div>

    </section>
    
  </div>

</div>