<h1>Thank you for signing up</h1>

<div>
  <button class="btn" type="button" onclick="returnHome()"> Go back to Login </button>
</div>

<script>
  function returnHome() {
    window.location.href = '/';
  }
</script>