<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>logbook</title>
  <link rel="stylesheet" href="styles.css">
  <script type="module" src="/index.js" defer></script>
</head>
<body>

  <header class="main-header">
    <div class="logo">LogBook</div>
    <nav class="nav-links">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </nav>
</header>

<section>
  <div class="frame" > 
    <div class="card">
      <h2 id="logbook">logbook</h2>
        <div class="card2">
          <input type="text" id="input" placeholder="Enter Amount">
              <div class="card-body">
                <form class="form">
                  <button class="button buy" id="buy">Log Buy</button>
                  <button class="button sell" id="sell">Log Sell</button>
                </form>  
              </div>
        </div>
    </div>

  </div>
</section>

<section id="section-main-history">
  <div id="main-section-div">
    
    <h3 id="log-title">Account History</h3>

      <section id="title-section">
        <div class="title-frame">
          <div id="date-time">Date and Time</div>
          <div id="type">Type</div>
          <div id="amount">Amount</div>
        </div>
      </section>

      <section id="transaction-section">
        <!-- <div class="transaction frame">
          <div id="transaction-date-time"></div>
          <div id="transaction-type"></div>
          <div id="transaction-amount"></div>
        </div> -->
      </section>

  </div>
  
</section>
  
</body>
</html>