<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logbook</title>
    <link rel="stylesheet" href="styles.css">
    <script type="module" src="/index.js" defer></script>

</head>
<body>
    <div class="frame" > 
      <div class="card">
        <h2 id="h2">logbook</h2>
          <div class="card2">
            <input title="enter data">
                <div class="card-body">
                  <form class="form">
                    <button class="button buy" id="buy">Log Buy</button>
                    <button class="button sell" id="sell">Log Sell</button>
                  </form>  
                </div>
          </div>
      </div>
        

    </div>
</body>
</html>