<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logbook</title>
    <link rel="stylesheet" href="styles.css">
    <script type="module" src="/index.js" defer></script>

</head>
<body>
    <div class="card" >
        <img src="/view/images/dog.jpg" width="340" height="270">
        <div class="card-body">
            <h4>This is some text within a body of div</h4>
        </div>

    </div>
</body>
</html>